<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msa2024.users.admin.AdminMemberMapper">

    <!-- findByUsername -->
    <select id="findByUsername" parameterType="String" resultType="com.msa2024.entity.MemberVO">
        SELECT *
        FROM tb_member
        WHERE member_id = #{username}
    </select>

    <!-- updateLoginAttempts -->
    <update id="updateLoginAttempts" parameterType="com.msa2024.entity.MemberVO">
        UPDATE tb_member
        SET member_login_count = #{member_login_count},
            member_locked = #{member_account_locked}
        WHERE member_id = #{member_id}
    </update>

    <!-- findLockedAccounts -->
    <select id="findLockedAccounts" resultType="com.msa2024.entity.MemberVO">
        SELECT *
        FROM tb_member
        WHERE member_locked = 'Y'
    </select>

    <!-- findAllMembers -->
    <select id="findAllMembers" resultType="com.msa2024.entity.MemberVO">
        SELECT *
        FROM tb_member
    </select>

    <!-- findById -->
    <select id="findById" parameterType="String" resultType="com.msa2024.entity.MemberVO">
        SELECT *
        FROM tb_member
        WHERE member_id = #{memberId}
    </select>

    <!-- updateMemberLockStatus -->
    <update id="updateMemberLockStatus" parameterType="com.msa2024.entity.MemberVO">
        UPDATE tb_member
        SET member_locked = #{member_account_locked}
        WHERE member_id = #{member_id}
    </update>

    <!-- deleteMemberById -->
    <delete id="deleteMemberById" parameterType="String">
        DELETE FROM tb_member
        WHERE member_id = #{memberId}
    </delete>

</mapper>
