<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msa2024.boards.BoardFileMapper">
	<!-- 테이블 생성 스크립트 생략 -->

	<!-- Retrieve all files for a specific board by board_id -->
	<select id="getFilesByBoardId" parameterType="int" resultType="BoardFileVO">
		SELECT board_file_id as boardFileId,
			   board_id as boardId,
			   original_filename as originalFilename,
			   real_filename as realFilename,
			   content_type as contentType,
			size,
			make_date as makeDate
		FROM tb_board_file
		WHERE board_id = #{boardId}
		ORDER BY board_file_id
	</select>

	<!-- 특정 게시물 파일 정보 조회 -->
	<select id="getBoardFile" parameterType="int" resultType="BoardFileVO">
		SELECT board_file_id, board_id, original_filename, real_filename, content_type, size, make_date
		FROM tb_board_file
		WHERE board_file_id = #{boardFileId}
	</select>

	<!-- Retrieve the first file information for a given board_id -->
	<select id="getFirstBoardFile" parameterType="int" resultType="BoardFileVO">
		SELECT board_file_id, board_id, original_filename, real_filename, content_type, size, make_date
		FROM tb_board_file
		WHERE board_id = #{boardId}
			LIMIT 1
	</select>

	<!-- 모든 게시물 파일을 bno 기준으로 검색 -->
	<select id="getList" resultType="BoardFileVO">
		SELECT * FROM tb_board_file WHERE board_id = #{boardId} ORDER BY board_file_id
	</select>

	<!-- bno 기반 첫 번째 파일 정보 조회 -->
	<select id="getBoardFileVO" resultType="BoardFileVO">
		SELECT * FROM tb_board_file WHERE board_id = #{boardId} LIMIT 1
	</select>

	<!-- 게시물 파일 삭제 -->
	<delete id="delete">
		DELETE FROM tb_board_file WHERE board_file_id = #{board_file_id}
	</delete>

	<!-- 게시물 파일 추가 -->
	<insert id="insert" parameterType="BoardFileVO">
		INSERT INTO tb_board_file (board_file_id, board_id, original_filename, real_filename, content_type, size, make_date)
		VALUES (#{boardFileId}, #{boardId}, #{originalFilename}, #{realFilename}, #{contentType}, #{size}, #{makeDate})
	</insert>
</mapper>
